---
---
{% include header.html %}

<div class="d-md-flex min-height-full {% unless site.style == 'dark' %}border-md-bottom{% endunless %}">
  <div class="flex-self-stretch {% if site.style == 'dark' %}bg-gray-dark
    {% else %}border-md-right border-gray-light bg-white{% endif %} col-md-5 col-lg-3 col-xl-3 px-4 px-md-6 px-lg-7 py-6">
    {% include masthead.html metadata=true %}
  </div>

  <div class="col-md-7 col-lg-9 col-xl-9 px-4 py-6 px-lg-7 border-top border-md-top-0 bg-gray-light" {% if site.style == 'dark' %}style="background-color: #2f363d !important"{% endif %}>
  <div class="mx-auto" style="max-width: 900px;">
    <div class="f4 {% if site.style == 'dark' %}text-white{% endif %} mb-6">
      <div class="f4 {% if site.style == 'dark' %}text-white{% endif %}">
        <p class="f5"><a href="{{ site.url }}{{ site.baseurl | append:'/' }}" class="d-flex flex-items-center {% if site.style == 'dark' %}text-white{% endif %}">{% octicon chevron-left height:16 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:Home %}Home</a></p>
        <h1 class="f00-light lh-condensed mb-5">{{ page.title }}</h1>

        <ul>
          {% for post in paginator.posts %}
          <li>
            <a href="{{ post.url }}">{{post.date | date: "%Y-%m-%d"}} {{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>

        <!-- Pagination links -->
        <div class="pagination">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">
            Previous
            </a>
        {% else %}
            <span class="previous">Previous</span>
        {% endif %}
        <span class="page_number ">
            Page: {{ paginator.page }} of {{ paginator.total_pages }}
        </span>
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">Next</a>
        {% else %}
            <span class="next ">Next</span>
        {% endif %}
        </div>

      </div>
    </div>
  </div>
</div>
</div>
{% include footer.html %}